.primaryButton {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.primaryButton.dark {
    background-color: #ebebeb;
    color: #000000;
}
.primaryButton.light {
    background-color: #263238;
    color: #FFFFFF;
}
.primaryButton:hover {
    opacity: 0.9;
}
.isDisabled {
    opacity: 0.5 !important;
    cursor: not-allowed;
}
.xs {
    padding: 3px 10px;
}
.s {
    padding: 5px 20px;
}
.l {
    padding: 10px 30px;
}