.dish {
    max-width: 300px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dish.dark {
    color: #fff;
}
.dish.light {
    color: #000;
}